.navbar {
    height: 80px;
    border-bottom: 1px solid #ccc;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 30px;
    background: white;
}

.logo {
    height: 50px;
}

.nav-links {
    display: flex;
    gap: 25px;
    align-items: center;
}

.nav-profile {
    display: flex;
    align-items: center;
    gap: 10px;
}

.profil-icon {
    width: 40px;
}

.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
}