HELP.md
application-local.properties
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
.idea/workspace.xml
### IntelliJ IDEA ###
.idea
*.iws
*.iml

*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

# Éléments spécifiques à IntelliJ IDEA (ta capture d'écran)
.idea/

*.iml

# Dossier de compilation Java généré par Maven (très important à ignorer aussi !)
/target/

# Fichiers temporaires ou logs du système
*.log
.DS_Store

# Fichiers de configuration contenant des secrets
application-local.properties
application.properties
