<div th:fragment="navbar">
    <nav class="navbar navbar-expand-lg bg-light shadow-sm px-4">
        <a class="navbar-brand d-flex align-items-center" th:href="@{/}">
            <img src="/img/van.png" alt="logo" height="32" class="me-2">
            <span>TravelNow</span>
        </a>

        <div class="collapse navbar-collapse">
            <ul class="navbar-nav ms-4">
                <li class="nav-item"><a class="nav-link" th:href="@{/}">Accueil</a></li>
                <!-- premier dropdown covoiturage -->
                <li class="nav-item dropdown"><a class="nav-link dropdown-toggle"
                                                 href="#"
                                                 id="covoiturage"
                                                 role="button"
                                                 data-bs-toggle="dropdown"
                                                 aria-expanded="false">

                    Covoiturage
                </a>

                    <ul class="dropdown-menu"
                        aria-labelledby="vehiculeDropdown">

                        <li>
                            <a class="dropdown-item"
                               th:href="@{/reservations}">
                                Mes réservations
                            </a>
                        </li>

                        <li>
                            <a class="dropdown-item"
                               th:href="@{/vehicules/reserver}">
                                Réserver un véhicule
                            </a>
                        </li>

                    </ul>
                </li>

                <!-- second dropdown vehicule de service -->
                <li class="nav-item dropdown">

                    <a class="nav-link dropdown-toggle"
                       href="#"
                       id="vehiculeDropdown"
                       role="button"
                       data-bs-toggle="dropdown"
                       aria-expanded="false">

                        Véhicule de service
                    </a>

                    <ul class="dropdown-menu"
                        aria-labelledby="vehiculeDropdown">

                        <li>
                            <a class="dropdown-item"
                               th:href="@{/reservations}">
                                Mes réservations
                            </a>
                        </li>

                        <li>
                            <a class="dropdown-item"
                               th:href="@{/vehicules/reserver}">
                                Réserver un véhicule
                            </a>
                        </li>

                    </ul>

                </li>
            </ul>

            <ul class="navbar-nav ms-auto">
                <li class="nav-item d-flex align-items-center">
                    <img src="/img/user.png" height="28" class="me-2">
                    <a class="nav-link" th:href="@{/profil}">MonProfil</a>
                </li>
            </ul>
        </div>
    </nav>
</div>
